.evento {
    margin: 130px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evento h3 {
    color: #88b10c;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.evento .realizacao .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.evento .apoio .img .gercom{
    width: 30%;
}

.evento .apoio .img {
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

.evento img {
    margin: 30px 20px;
    height: 150px;
    width: 120px;
}

@media (max-width: 900px) {
    .evento {
        flex-direction: column;
    }

    .evento .realizacao .img {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .evento .apoio .img {
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }

}