.main {
    padding: 80px 15px 0 15px ;
    display: flex;
}

.main img {
    width: 200px;
    height: 200px;
}

.main .info {
    /* background-color: red; */
    padding-top: 20px;
    margin-left: 30px;
    font-weight: 700;
    text-align: center;
}

.main .info p {
    color: rgb(14, 122, 14);
}