.utilidade {
    margin: 40px 0;
}

.utilidade h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #88b10c;
    margin-bottom: 50px;
}

.utilidade .utilidade-container {
    display: flex;
    justify-content: space-around;
}

.utilidade .utilidade-container .info {
    margin-top: 50px;
    margin-left: 70px;
}

.utilidade .utilidade-container .info h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #88b10c;
    margin: 30px 0;
}

.utilidade .utilidade-container .info p {
    text-align: center;
    color: #88b10c;
    font-weight: 500;
    
}

@media (max-width:900px) {
    .utilidade {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .utilidade h3 {
        margin: 0;
    }

    .utilidade .utilidade-container {
        margin: 0;
        flex-direction: column;
    }

    .utilidade .utilidade-container .info {
        margin: 0;
    }

    .utilidade .utilidade-container .info h4 {
        margin-bottom: 10px;
    }

    .utilidade .utilidade-container .map {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 50px;
    }

    .utilidade .utilidade-container .map iframe {
        height: 100%;
        width: 90%;
        margin: 30px 0;
    }
}